﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIDUKM - Error</title>
    @Styles.Render("~/Content/dashgum")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Ukryj/Pokaż menu"></div>
            </div>
            <!--logo start-->
            <a href="@Url.Action("Index", "Home")" class="logo"><b>SIDUKM</b></a>
            <!--logo end-->
        </header>

        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <li class="mt">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-home"></i>
                            <span>Strona główna</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="@Url.Action("Index", "Spotted")">
                            <i class="fa fa-comment"></i>
                            <span>Spotted</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="@Url.Action("FindRoute", "Transport")">
                            <i class="fa fa-road"></i>
                            <span>Wyznacz trasę</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="@Url.Action("LinesList", "Transport")">
                            <i class="fa fa-book"></i>
                            <span>Rozkład jazdy</span>
                        </a>
                    </li>
                    @if(Context.User.IsInRole("Administrator"))
                    {
                        <li class="sub-menu">
                            <a href="@Url.Action("Menu", "Administration")">
                                <i class="fa fa-bitbucket"></i>
                                <span>Panel administratora</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="@Url.Action("Index", "Stats")">
                                <i class="fa fa-bar-chart"></i>
                                <span>Statystyki</span>
                            </a>
                        </li>
                    }
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                
            <h2> Error 404</h2>
            <div class="error-details">
                Przepraszamy, podana strona nie istnieje lub jest tymczasowo nieczynna!
            </div>


            </section><!-- /wrapper -->
        </section><!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        <footer class="grey-panel">
            <div class="text-center">
                2015 - SIDUKM
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    @Scripts.Render("~/bundles/jquery-bootstrap")
    @Scripts.Render("~/bundles/validation")
    <script>
        //custom select box
        /*
        $(function () {
            $('select.styled').customSelect();
        });
        */
    </script>


</body>
</html>
