﻿@model System.DateTime
@{
    ViewBag.Title = "Zbanowany!";
}

<h2>Zbanowany!</h2>
<p>
    Jesteś zbanowany i nie możesz korzystać z serwisu jako zalogowany użytkownik!<br/>
</p>
<h4>Koniec bana: @String.Format("{0:F}",Model)</h4>

