﻿@model SIDUKM.WebUI.Models.Account.EditAccountViewModel
@{
    ViewBag.Title = "Edycja konta";
}

<h2>Edycja konta</h2>

<hr />
@section scripts
{
    @Scripts.Render("~/bundles/avatar")
    <script>
        function deleteAvatar() {
            var d = confirm("Czy chcesz skasować swój avatar?");
            var link = "@Url.Action("DeleteAvatar", "Account", new { id = Model.AccountId })";
            if (d) {
                /*location.reload();
                $.get(link, function () {});*/
                window.location.assign(link);
            }
        }

        function deleteAccount() {
            var d = confirm("Czy na pewno chcesz skasować konto? Akcja jest nieodwracalna!");
            var link = "@Url.Action("DeleteAccount", "Account")";
            if (d) {
                /*location.reload();
                $.get(link, function () { });*/
                window.location.assign(link);
            }
        }
    </script>
}
@using(Html.BeginForm("EditAccount", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data", id="form" }))
{
    @Html.AntiForgeryToken()
    if (ViewBag.EmailError == "Pomyślnie zaktualizowano email!")
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.EmailError
        </div>
    }
    if (ViewBag.EmailError == "Podany email istnieje już w bazie!" || ViewBag.EmailError == "Email nie może być pusty")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.EmailError
        </div>
    }
    <div class="form-group row " style="padding:10px">
        @Html.Label("Adres e-mail ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.TextBoxFor(m => Model.Email, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(m => Model.Email)*@
    </div>
    
    if (ViewBag.OldPasswordError == "Pomyślnie zmieniono hasło!")
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.OldPasswordError
        </div>
    }
    else
    {
        if (ViewBag.OldPasswordError != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.OldPasswordError
            </div>
        }   
    }
    <div class="form-group row " style="padding:10px">
        @Html.Label("Hasło ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.PasswordFor(m => Model.Password, new { @class = "form-control password" })
        @Html.ValidationMessageFor(m => Model.Password)
    </div>
    if (ViewBag.NewPasswordError != null)
    {
        <div class="alert alert-danger" role="alert">

            @ViewBag.NewPasswordError
        </div>
    }
    <div class="form-group row " style="padding:10px">
        @Html.Label("Nowe hasło ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.PasswordFor(m => Model.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.NewPassword)
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Powtórz nowe hasło ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.PasswordFor(m => Model.RepeatPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.RepeatPassword)
    </div>
    <hr />

    if (ViewBag.SuccessulChange)
    {
        <div class="alert alert-success" role="alert">
            Pomyślnie zaktualizowano dane
        </div>
    }
    <div class="form-group row " style="padding:10px">
        @Html.Label("Imię", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.TextBoxFor(m => Model.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Nazwisko", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.TextBoxFor(m => Model.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Płeć", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.Gender, "GenderId", "GenderName"), new { @class = "form-control" })
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Miasto", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.DropDownListFor(m => m.CityId, new SelectList(Model.City, "CityId", "CityName"), new { @class = "form-control" })
    </div>
    
    @Html.HiddenFor(m => m.AccountId)
    @Html.HiddenFor(m=>m.PreviousPage)
    
    <!-- Avatar Column-->
    <div class="row" style="padding:10px">
            <div class="col-md-2"> 
                @Html.Label("Awatar", new { @class = "control-label" }) 
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <img width="100" height="100" src="@Url.Action("GetAvatar","Account", new { id = Model.AccountId })" id="avatar_img" />
                    </div>
                    <div class="col-md-8">
                        <input type="file" name="avatar" accept="image/*" class="ignore" id="avatar_upload" />
                        <!--<button id="btnRemove" type="button" class="btn btn-primary btn-info" data-toggle="modal" data-target="#myModal" style="margin-top:30px"> Usuń </button> -->
                        <a href="#" onclick="deleteAvatar();" class="btn btn-primary btn-info">Usuń</a>
                    </div>
                </div>
            </div>
        <div class="col-md-2"> </div> <!-- zamiast tego jakis offset -->
        </div>
    
    <!-- Buttons-->
    <button type="submit" class="btn btn-primary">Zastosuj</button>
    @*<a href="javascript:history.back()" class="as-link btn btn-primary">Powrót</a>*@
    <a href=@Model.PreviousPage class="as-link btn btn-primary">Powrót</a>
    <hr/>
    <a href="#" onclick=" deleteAccount();" class="btn btn-primary">Usuń konto</a>

}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Usuwanie awatara</h4>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć awatar użytkownika?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nie</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DeleteAvatar", "Account", new { id = Model.AccountId })'" >Tak </button>
            </div>
        </div>
    </div>
</div>

