﻿@model SIDUKM.WebUI.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Przypomnienie hasła";
}
@using (Html.BeginForm())
{
    <h2 class="text-left">Przypomnienie hasła</h2>
    <hr />
    if (!String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Błąd:</span>
            @ViewBag.errorMessage
        </div>
        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @ViewBag.errorMessage
                    </div>
                </div>
            </div>*@
      }
      if (ViewBag.successSend == true)
      {
                            @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.Label("Wiadomość z linkiem resetującym została wysłana na podany email ")
                                        </div>
                                    </div>
                                </div>*@
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Sukces:</span>
        Wiadomość z linkiem resetującym hasło została wysłana na podany adres e-mail!
    </div>
    @Html.ActionLink("Powrót", "Index", "Home", null, new { @class = "btn btn-default btn-lg" })
      }
      else
      {
        @Html.ValidationMessage("unknown")
        <div class="form-group row" style="padding:10px">
            @Html.Label("Wprowadź adres Email ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
            @Html.TextBoxFor(m => Model.Email, new { @class = "form-control ", placeholder = "Adres e-mail", autofocus = "" })
            @Html.ValidationMessageFor(m => Model.Email)
        </div>
        <a href="@Url.Action("Login", "Account")" class="as-link btn btn-primary">Powrót</a>
        <button type="submit" class="btn btn-primary">Wyślij</button>
    

      }





}