﻿@model SIDUKM.WebUI.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

@*

    do odkomentowania jak ma wykorzystać cssa z oryginału;
    cssy się rejestruje w App_Start\BundleConfig.cs, nie podaje się bezpośrednich odnośników
    (względy bezpieczeństwa)

@section AdditionalStyles {
    @Styles.Render("~/Content/signin")
}

*@

@if (ViewBag.Logged == null)
{
    using (Html.BeginForm())
    {
        <div class="form-login">
            <h2 class="form-login-heading">
                Logowanie
            </h2>
            @if (ViewBag.isError!=null)
            {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Błąd:</span>
                Podany login i/lub hasło nie zgadzają się!
            </div>
            }
            <div class="login-wrap">

                @Html.TextBoxFor(m => m.Login, new { @class = "form-control col-xs-12 ", placeholder = "Login", autofocus = "", id = "inputEmail" })
                @Html.ValidationMessageFor(m => m.Login)
                </div>
             <div class="login-wrap">
                 @Html.PasswordFor(m => m.Password, new { @class = "form-control col-xs-12", placeholder = "Hasło", id = "inputPassword" })
                 @Html.ValidationMessageFor(m => m.Password)
             </div>
            
             <div class=" login-wrap">
                @Html.CheckBoxFor(m => m.IsAuto, new { @class = "checkbox-inline" })
                 @Html.Label("Zaloguj mnie automatycznie", new { @class = "checkbox-inline" })
                <div class="row">
                    <br />
                    @Html.ActionLink("Rejestracja", "Register", null, new { @class = "as-link btn btn-default register-link col-xs-offset-1 " })
                    <input type="submit" class="btn btn-primary login-button col-xs-offset-2 col-sm-offset-3" value="Zaloguj" />
                </div>
                 <br />
                 <div class="centered">
                     @Html.ActionLink("Nie pamiętam hasła", "ForgotPassword", null, new { @class = "as-link  register-link" })
                 </div>
             </div>
            

        </div>       

    }
} 
else 
{
    <h2>Pomyślnie zalogowano jako: @Html.DisplayTextFor(m => m.Login)</h2>
    <span>Zapamiętywanie użytkownika: @Html.DisplayTextFor(m=>m.IsAuto)</span>
}