﻿@model SIDUKM.WebUI.Models.Account.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
}

@if(ViewBag.register == null) 
{ 
    <h2> Rejestracja nowego konta</h2>
    <hr />

    using(Html.BeginForm())
    {
        <div class="form-group row "style="padding:10px">
            @Html.Label("Login (*) ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 " })
            @Html.TextBoxFor(m => Model.Login, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Login)
        </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Hasło (*) ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.PasswordFor(m => Model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.Password)
    </div>
        <div class="form-group row " style="padding:10px">
    @Html.Label("Powtórz hasło (*) ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
    @Html.PasswordFor(m => Model.RepeatPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => Model.RepeatPassword)
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Adres e-mail (*) ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.TextBoxFor(m => Model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.Email)
    </div>
                <hr />

        <div class="form-group row " style="padding:10px">
    @Html.Label("Imię", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
    @Html.TextBoxFor(m => Model.FirstName, new { @class = "form-control" })
</div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Nazwisko", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.TextBoxFor(m => Model.LastName, new { @class = "form-control" })
    </div>
        <div class="form-group row " style="padding:10px">
    @Html.Label("Płeć", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
    @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.Gender, "GenderId", "GenderName"), new { @class = "form-control" })
</div>

    <div class="form-group row " style="padding:10px">
        @Html.Label("Miasto", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.DropDownListFor(m => m.CityId, new SelectList(Model.City, "CityId", "CityName"), new { @class = "form-control" })
    </div>
                <hr />

        <div class="form-group row " style="padding:10px">
    @Html.CheckBoxFor(m => Model.IsAcceptRule, new { @class = "checkbox-inline" })
    @Html.Label("Akceptuje regulamin i zobowiązuję się do przestrzegania jego postanowień (*)", new { @class = "checkbox-inline" })
    <p>@Html.ValidationMessageFor(m => Model.IsAcceptRule)</p>
</div>

    <div class="form-group row " style="padding:10px">
        @Html.CheckBoxFor(m => Model.IsAcceptMarketing, new { @class = "checkbox-inline" })
        @Html.Label("Wyrażam zgodę na przetwarzanie moich danych osobowych w celach marketingowych", new { @class = "checkbox-inline" })
    </div>

        <button type="submit" class="btn btn-primary">Zarejestruj</button>
        <button type="reset" class="btn btn-primary">Wyczyść</button>

    }   

}
else if(ViewBag.Register == 1)
{
    <h2>Pomyślnie zarejestrowano!</h2>
    <a href="@Url.Action("Login")" class="btn btn-primary">Logowanie</a>
}
else
{
    <h2>Wystąpił błąd przy rejestracji! Spróbuj ponownie.</h2>
    <a href="@Url.Action("Register")" class="btn btn-primary">Rejestracja</a>
}