﻿@model SIDUKM.WebUI.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Przypomnienie hasła";
}
@using (Html.BeginForm())
{
    <h2 class="text-left">Przypomnienie hasła</h2>
    <hr />
  
    if (ViewBag.successSend == true)
    {
        @*<div class="row">
                <div class="col-md-12">

                    @Html.Label("Pomyślenie zmieniono hasło")
                    <hr />

                </div>
                <div class="col-md-offset-3">
                    @Html.ActionLink("Logowanie", "Login", new { @class = "as-link btn btn-default " })
                </div>
            </div>*@
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            <span class="sr-only">Sukces:</span>
            Pomyślnie zmieniono hasło!
        </div>
        @Html.ActionLink("Logowanie", "Login", new { @class = "as-link btn btn-default " })
    }
    else
    {
        <div class="form-group row">
            @Html.Label("Wprowadź nowe hasło ", new { @class = "control-label col-xs-12 col-xs-offset-3  col-sm-offset-0 col-sm-3 col-md-3 col-lg-2" })
            @Html.PasswordFor(m => Model.Password, new { @class = "form-control col-xs-offset-1 col-sm-offset-0 ", placeholder = "Wprowadź nowe hasło", autofocus = "" })
            @Html.ValidationMessageFor(m => Model.Password)
        </div>
        <div class="form-group row">
            @Html.Label("Wprowadźponownie hasło ", new { @class = "control-label col-xs-12 col-xs-offset-3 col-sm-offset-0 col-sm-3 col-md-3 col-lg-2" })
            @Html.PasswordFor(m => Model.RepeatPassword, new { @class = "form-control col-xs-offset-1 col-sm-offset-0 ", placeholder = "Wprowadź ponownie hasło", autofocus = "" })
            @Html.ValidationMessageFor(m => Model.RepeatPassword)
        </div>
    <div class="row" style="padding:10px">
        <button type="reset" class="btn btn-primary  col-xs-offset-3 col-sm-offset-0 ">Wyczyść</button>
        <button type="submit" class="btn btn-primary  ">Wyślij</button>
    </div>
    

    }

}