﻿@model SIDUKM.WebUI.Models.Account.ProfileViewModel
@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.AccountLogin</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <img alt="User Pic" src="@Url.Action("GetAvatar", new { id=Model.AccountId })" height=120 width=120 class="img-rounded">
                    </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Imię:</td>
                                    <td>@Model.FirstName</td>
                                </tr>
                                <tr>
                                    <td>Nazwisko:</td>
                                    <td>@Model.LastName</td>
                                </tr>
                                <tr>
                                    <td>Płeć:</td>
                                    <td>@Model.Gender</td>
                                </tr>
                                <tr>
                                    <td>Miasto:</td>
                                    <td>@Model.City</td>
                                </tr>
                                <tr>
                                    <td>Rola użytkownika</td>
                                    <td>@Model.UserRole</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a href="@Url.Action("Send", "Message", new { user=Model.AccountId })" class="btn btn-default">Wyślij wiadomość</a>
                <a href="@ViewBag.link" class="btn btn-default">Powrót</a>  
            </div>
        </div>
    </div>
</div>


