﻿@model SIDUKM.WebUI.Models.Spotted.NewPostViewModel
@{
    ViewBag.Title = "Edycja treści komentarza";
}

@using (Html.BeginForm("EditPost", "Spotted"))
{
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-12">
            <div class="form-panel">
                <div><h4>Edycja treści komentarza</h4></div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.TextAreaFor(m => Model.Content, new
                        {
                            @class = "form-control",
                            cols = "",
                            rows = "",
                            data_autoresize = "",
                            placeholder = "Treść wiadomości",
                            maxlength = 1024
                        })
                        @Html.ValidationMessageFor(m => Model.Content)
                    </div>
                    @Html.HiddenFor(m => m.TopicId)
                </div>
                <div class="form-group text-right">
                    <input type="submit" value="Edytuj" class="btn btn-default btn-sm" />
                    <a href="@ViewBag.Link" class="btn btn-default btn-sm">Anuluj</a>
                </div>
            </div>
        </div>
    </div>
}

