﻿@model SIDUKM.WebUI.Models.Spotted.NewTopicViewModel
@{
    ViewBag.Title = "Spotted";
}
@section AdditionalStyles
{
    @Styles.Render("~/Content/combobox")
}
@section scripts
{
    @Scripts.Render("~/bundles/combobox")
    @Scripts.Render("~/bundles/spotted")
}
<h2>Spotted</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Błąd:</span>
        @ViewBag.Error
    </div>
}

@Html.Partial("NewTopic", Model)


<div class="text-left col-md-offset-3 col-md-6 col-xs-12">
    @Html.Label("Wyświetl z kategorii: ", new { id = "filterCategoryLabel", hidden = "hidden" })
    @Html.DropDownListFor(m => Model.CategoryId, new SelectList(Model.Category, "TopicCategoryId", "Name"),"Wszystkie", new { id = "filterCategory", hidden="hidden" })
</div>

<div id="spottedContent">

</div>
<p class="text-center  col-md-offset-3 col-md-6 col-xs-12" id="loading"><img src="/Content/img/loader-pacman.gif"><br />Ładowanie...</p>
<div class="text-center hidden" id="reloadDiv">
    <h5>Pojawił się nowy wpis!</h5>
    <button type="button" id="reloadButton">
        Wczytaj nowe wpisy
    </button>
</div>
<div class="text-center">
    <h5 class="hidden" id="giveMeNoMore">Nie ma więcej wpisów!</h5>
    <button type="button" id="loadMore" hidden="hidden">
        Pobierz więcej...
    </button>
</div>

<div class="hidden" id="topic-source">
    <div class="row">
        <div class="topicPanel col-md-offset-3 col-md-6 col-xs-12">
            <div class="form-panel">
                <div>
                    <h4 class="topic-header"></h4>
                </div>
                <div class="form-group user-header">
                    <div class="row">
                        <div class="col-xs-8">
                            <img src="" class="img-thumbnail user-avatar" 
                                 width="50" height="50" alt="" style="float: left;"/>
                            &nbsp; <span class="user-nick"></span>
                            <div>&nbsp;&nbsp;<span class="message-date"></span></div>
                        </div>
                        <div class="col-xs-4 text-right">
                            <span class="text-right user-icons">
                                <a href="" class="user-profile"><i class="fa fa-user" data-toggle="tooltip" title="Pokaż profil"></i></a>
                                &nbsp;
                                <a href="" class="user-message"><i class="fa fa-envelope-o" data-toggle="tooltip" title="Napisz wiadomość"></i></a>
                                <span class="user-admin">
                                    &nbsp;
                                    <a href="" class="user-edit" data-toggle="tooltip" title="Edytuj temat"><i class="fa fa-pencil"></i></a>    
                                    &nbsp;
                                    <a href="" class="user-delete" data-toggle="tooltip" title="Usuń temat"><i class="fa fa-times"></i></a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="form-group message-content">

                </div>
                <hr/>
                <div class="form-group message-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="text-left" style="color: green;">
                                <a href="" class="topic-upvote-link" data-toggle="tooltip" title="Podoba mi się" style="color: green;"><i class="fa fa-thumbs-up"></i></a>
                                &nbsp;<span class="upvotes"></span>
                            </span>
                            &nbsp;
                            <span class="text-left" style="color: red;">
                                <a href="" class="topic-downvote-link" data-toggle="tooltip" title="Nie podoba mi się" style="color: red;"><i class="fa fa-thumbs-down"></i></a>
                                &nbsp;<span class="downvotes"></span>
                            </span>
                        </div>
                        <div class="col-xs-6 text-right">
                            <span class="text-right">
                                <!--<button data-post="" class="comment-link notbutton" type="button">
                                    <i class="fa fa-comment"></i>&nbsp;<span class="comments"></span>
                                </button>-->
                                <a href="" data-post="" class="comment-link" data-toggle="tooltip" title="Rozwiń/Zwiń">
                                    <i class="fa fa-comment"></i>&nbsp;<span class="comments"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="hidden topic-answers">
                    <hr/>
                    <div class="answer-form">
                        <!-- POLE ODPOWIEDZI -->
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <form onsubmit="return false;" class="post-form">
                                <textarea class="form-control post-form-textarea" data-post="" data-autoresize="" maxlength="1024" placeholder="Napisz odpowiedź"></textarea>
                            </form>
                        }      
                    </div>
                    <p class="text-center loading"><img src="/Content/img/loader-pacman.gif"><br />Ładowanie...</p>
                    <div class="answers-list">
                        <!-- ODPOWIEDZ START-->
  
                        <!-- ODPOWIEDZ KONIEC -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden" id="post-source">
    <div class="form-panel post-panel">
        <div class="form-group user-header">
            <div class="row">
                <div class="col-xs-8">
                    <img src="" class="img-thumbnail user-avatar"
                         style="float: left;" width="50" height="50" alt="" />
                    &nbsp; <span class="user-nick"></i>
                    </span>
                    <div>
                        &nbsp;&nbsp;<span class="message-date"></span>
                        <span class="user-admin">
                            &nbsp;
                            <a href="" class="user-edit" data-toggle="tooltip" title="Edytuj odpowiedź"><i class="fa fa-pencil"></i></a>
                            &nbsp;
                            <a href="" class="user-delete" data-toggle="tooltip" title="Usuń odpowiedź"><i class="fa fa-times"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="text-right post-user-icons">
                        <a href="" class="user-profile" data-toggle="tooltip" title="Pokaż profil"><i class="fa fa-user"></i></a>
                        &nbsp;
                        <a href="" class="user-message" data-toggle="tooltip" title="Napisz wiadomość"><i class="fa fa-envelope-o"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group message-content">
            
        </div>
        <div class="form-group message-footer">
            <div class="row">
                <div class=" col-xs-6 text-left">
                    <span class="text-left" style="color: green;">
                        <a href="" class="post-upvote-link" data-toggle="tooltip" title="Podoba mi się" style="color: green;"><i class="fa fa-thumbs-up"></i></a>
                        &nbsp;<span class="upvotes"></span>
                    </span>
                    &nbsp;
                    <span class="text-left" style="color: red;">
                        <a href="" class="post-downvote-link" data-toggle="tooltip" title="Nie podoba mi się" style="color: red;"><i class="fa fa-thumbs-down"></i></a>
                        &nbsp;<span class="downvotes"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>