﻿@model SIDUKM.WebUI.Models.Spotted.NewTopicViewModel

@if (ViewBag.Logged)
{
    using (Html.BeginForm("NewTopic","Spotted"))
    {
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12">
                <div class="form-panel">
                    <div><h4>Nowy temat</h4></div>
                    <div class="row form-group">
                        <div class="col-md-4 col-xs-6">
                            @Html.LabelFor(m => Model.CategoryId)
                            @Html.DropDownListFor(m => Model.CategoryId, new SelectList(Model.Category, "TopicCategoryId", "Name"), "",
                                                    new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => Model.CategoryId)
                        </div>
                        <div class="col-md-4 col-xs-6">
                            @Html.LabelFor(m => Model.LineId)
                            @Html.DropDownListFor(m => Model.LineId, new SelectList(Model.Line, "LineId", "LineName"), "",
                                                    new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => Model.LineId)
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <br/>
                            @Html.CheckBoxFor(m => Model.IsAnonymous)
                            @Html.LabelFor(m => Model.IsAnonymous)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">
                            @Html.TextAreaFor(m => Model.Message, new
                            {
                                @class = "form-control", cols = "", rows = "", data_autoresize = "",
                                placeholder = "Treść wiadomości", maxlength=1024
                            })
                            @Html.ValidationMessageFor(m => Model.Message)
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <input type="submit" value="Wyślij" class="btn btn-default btn-sm"/>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div><a href="@Url.Action("Login","Account")">Zaloguj się</a>, aby dodawać nowe wiadomości!</div>
}