﻿
@{
    ViewBag.Title = "Wiadomości prywatne";
}
@section AdditionalStyles
{
    @Styles.Render("~/Content/css-dataTable") 
}
@section scripts
{
    <script type="text/javascript">siteId = @ViewBag.Site</script>
    @Scripts.Render("~/bundles/jquery-dataTable")
    @Scripts.Render("~/bundles/messages")
}

<h2>Wiadomości prywatne</h2>

@if (ViewBag.Sent > 0)
{
    <div class="alert alert-success" role="alert">Wiadomość wysłana!</div>
}

<ul class="nav nav-tabs">
    <li role="presentation" id="inbox-tab">
        <a href="@Url.Action("List")" id="inbox-link">Skrzynka odbiorcza</a>      
    </li>
    <li role="presentation" id="sent-tab">
        <a href="@Url.Action("List", new {folder = 1})" id="sent-link">Skrzynka nadawcza</a>
    </li>
    <li role="presentation" id="trash-tab">
        <a href="@Url.Action("List", new {folder = 2})" id="trash-link">Kosz</a>
    </li>
</ul>
<div class="tab-content white-panel pn" id="messageList" style="height: 100%;">
    &nbsp;
    <div class="text-left" style="color: #797979; margin-left: 1em; margin-top: 0.25em; margin-right: 1em;">
        <div style="margin-bottom: 0.25em;"><a href="@Url.Action("Send")" class="btn btn-primary">Nowa wiadomość</a></div>
        <hr />
        <table cellpadding="0" cellspacing="0" border="0"
               class="table table-striped table-bordered center-table dt-responsive"
               id="tableContract"></table>
    </div>
    <br/>
</div>


