﻿@model SIDUKM.WebUI.Models.Message.SendViewModel
@{
    ViewBag.Title = "Nowa wiadomość";
}
@section PageStyles
{
    input {
        max-width: 100% !important;
    }

    .dropdown-menu {
        width: 100%
    }
}
<h2>Nowa wiadomość</h2>
@if (ViewBag.Error!=null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="form-panel">
                <div class="form-group">
                    Do:
                    @if (!string.IsNullOrEmpty(Model.AccountName))
                    {
                        if (Model.AnonymousSourceId > 0)
                        {
                            @Html.HiddenFor(m => m.AnonymousSourceId)
                            @Html.HiddenFor(m=>m.AccountId)
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.AccountId)
                            @Html.HiddenFor(m => m.AccountName)
                        }
                        <span class="disabled">@Model.AccountName</span>
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.AccountId, new SelectList(Model.AccountList, "Item1", "Item2"), "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AccountId)
                        @section AdditionalStyles
                        {
                            @Styles.Render("~/Content/combobox")
                        }
                        @section scripts
                        {
                            @Scripts.Render("~/bundles/combobox")
                            <script type="text/javascript">
                                $('#AccountId').combobox();
                            </script>
                        }
                    }
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Temat wiadomości" })
                    @Html.ValidationMessageFor(m=>m.Subject)
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(m => m.Content, new
                    {
                        @class = "form-control",
                        cols = "",
                        rows = "",
                        data_autoresize = "",
                        placeholder = "Treść wiadomości",
                        maxlength = 1024
                    })
                    @Html.ValidationMessageFor(m=>m.Content)
                    @Html.HiddenFor(m=>m.ReturnLink)
                </div>
                <div class="form-group text-right">
                    <a href="@Model.ReturnLink" class="btn btn-default">Powrót</a>
                    <input type="submit" value="Wyślij" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </div>
}