﻿@model SIDUKM.Logic.MessageData
@{
    ViewBag.Title = "Wiadomość";
}

@section scripts
{
    <script type="text/javascript">
        function deleteMessage(data, hasDelete) {
            if (hasDelete)
            {
                var remove = confirm("Czy usunąć tą wiadomość?");
                if (remove) {
                    history.back();
                    $.get("/Message/Delete", $.param({ 'id': data }, true), function () {
                    });
                }
            }
            else
            {
                var restore = confirm("Czy przywrócić wiadomość?");
                if(restore) 
                {
                    history.back();
                    $.get("/Message/Undelete", $.param({'id':data}, true), function(){

                    });
                }
            }
        }
   </script>
    
}

<h2>Wiadomość</h2>
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
    <a href="@ViewBag.link" class="as-link btn btn-primary" style="margin:10px 10px 10px 10px">Wróć do listy wiadomości</a>
    @if (Model.AccountId != Model.RecipientId)
    {
        <a href="@Url.Action("Send", new {original = Model.MessageId})" class="btn btn-primary">Odpowiedź</a>
    }
    @if (Model.IsDeleted)
    {
        <a href="javascript:void(0)" class="as-link btn btn-primary" style="margin:10px 10px 10px 10px" onclick="deleteMessage(@Model.MessageId, false)">Przywróć</a>
    }
    else
    {
        <a href="javascript:void(0)" class="as-link btn btn-primary" style="margin:10px 10px 10px 10px" onclick="deleteMessage(@Model.MessageId , true);">Usuń</a>
    }
    
</div>

<div class="panel panel=primary col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 style="padding:10px 16px 10px 10px; margin:10pt">
  <br />
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <br />
            <div class="col-xs-3 col-sm-4 col-md-5 col-lg-3">
                <img width="50" height="50" src="@Url.Action("GetAvatar","Account", new { id = Model.AccountId })" id="avatar_img" />
            </div>
            <div class="col-xs-9 col-sm-8 col-md-7col-lg-9">
                <div class="row ">
                    @if (Model.AccountId != Model.RecipientId)
                    {
                        @Html.Label("Od: ", new { @class = "control-label col-sm-3 col-md-3 col-xs-3 col-lg-3" })
                    }
                    else
                    {
                        @Html.Label("Do: ", new { @class = "control-label col-sm-3 col-md-3 col-xs-3 col-lg-3" })
                    }
                    
                    @Html.Label(@Model.Account, new { @class = "control-label col-sm-9 col-md-9 col-lg-9" })
                    
                </div>
                <div class="row " >
                    @Html.Label("Data: ", new { @class = "control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" })
                    @Html.Label(Model.Date, new { @class = "control-label col-xs-9 col-sm-9 col-md-9 col-lg-9" })
                </div>     
            </div>
                
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div>
                <h3>@Model.Subject</h3>
                <p style="white-space: pre-line; word-wrap:break-word;">@Model.Content</p>
                <br /> <br />
                
                <br />
            </div>
        </div>
    </div>

    
    
</div>



