﻿@model SIDUKM.WebUI.Models.Transport.DirectionsViewModel
@{
    ViewBag.Title = "Kierunki";
}
@section Scripts{
    <script type="text/javascript">
        function filter() {
            var text = $('#direction-filter').val().toLowerCase();
            $('.directions').each(function () {
                if (text!="" && $(this).text().toLowerCase().indexOf(text)==-1) {
                    $(this).addClass('hidden');
                } else {
                    $(this).removeClass('hidden');
                }
            });
        }
        $('#direction-filter').keyup(filter);
    </script>
}
<h2>Linia : @Model.LineName</h2>
<hr />
<div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-md-offset-4">
        <div class="form-group " style="padding:10px;">
            @Html.Label("Filtruj ", new { @class = "control-label col-xs-6 col-sm-6 col-md-6 col-lg-6" })
            @Html.TextBox("direction-filter")
        </div>
        @foreach (var directions in @Model.DirectionsName)
        {
            <div class="row">
                <a class="btn btn-info  btn-sm directions" style="margin-bottom:5px; width:100%; vertical-align:central;" href="@Url.Action("StopList", new { id=directions.LineId})">@directions.Direction</a>
            </div>
        }
        <div class="row">
            <a href="@Url.Action("LinesList")" style="min-width:200px" class="btn btn-primary">Powrót</a>
        </div>
    </div>
    
</div>
    