﻿@model SIDUKM.WebUI.Models.Transport.FindRouteViewModel
@{
    ViewBag.Title = "Wyszukiwanie trasy";
}
@section AdditionalStyles
{
    @Styles.Render("~/Content/timepicker")
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/combobox")
}
@section scripts
{
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/combobox")
    @Scripts.Render("~/bundles/route")
}
<h2>Wyszukiwanie trasy</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-2 col-xs-6">
            <div>
                @Html.Label("Start:", new {@class = "control-label"})
            </div>
            @Html.DropDownListFor(m => Model.Start, new SelectList(Model.Stops, "StopId", "StopName"), "", new { @class = "form-control" })
        </div>
        <div class="col-md-2 col-xs-6">
            <div>
                @Html.Label("Cel:", new {@class = "control-label"})
            </div>
            @Html.DropDownListFor(m => Model.Stop, new SelectList(Model.Stops, "StopId", "StopName"), "", new { @class = "form-control" })
        </div>
        <div class="col-md-2 col-xs-6">
            <div>
                @Html.Label("Godzina:", new {@class = "control-label"})
            </div>
            <div class="input-group">
                @Html.TextBoxFor(m => Model.Time, new { @class = "form-control" })
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div>
                @Html.Label("Data:", new {@class = "control-label"})
            </div>
            <div class="input-group">
                @Html.TextBoxFor(m => Model.Date, new { @class = "form-control" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div>&nbsp;</div>
            <button type="button" id="submit" class="btn btn-primary">Szukaj</button>
        </div>
    }
</div>
<br/>

<iframe src="about:blank" id="jdframe" style="visibility: collapse;"></iframe>