﻿@model SIDUKM.WebUI.Models.Transport.LineViewModel
@{
    ViewBag.Title = "Linie";
}
@section Scripts{
    <script type="text/javascript">
        function filter() {
            var text = $('#stop-filter').val().toLowerCase();
            $('.lines').each(function () {
                if (text != "" && $(this).children().text().toLowerCase().indexOf(text)==-1) {
                    $(this).addClass('hidden');
                } else {
                    $(this).removeClass('hidden');
                }
            });
        }
        $('#stop-filter').keyup(filter);
    </script>
}
<h2>Linie</h2>

<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
        <div class="form-group " style="padding:2px;">
            @Html.Label("Filtruj ", new { @class = "control-label col-xs-3 col-md-3 col-lg-1 " })
            @Html.TextBox("stop-filter", "", new { @class="form-control"})
        </div>
        @foreach (var line in Model.LineNames)
        {
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 lines" style="align-content:center">
                <a class="btn btn-info  btn-sm btn-block" style="margin-bottom:3px; width:initial; min-width:50px; text-align:left;" href="@Url.Action("DirectionsList", new { lineName=line})">@line</a>
            </div>
        } 
    </div>
    <!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <a href="@ViewBag.Return" class="btn btn-primary " style="width:100%;min-width:100px; text-align:left; display:block;">Powrót</a>
        </div>
    </div>-->
</div>

