﻿@model List<SIDUKM.Domain.Stop>
@{
    ViewBag.Title = "Przystanki";
}
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            //wybieranie ostatniego elementu( ostaniego przystanku)
            var target = $('#stops:last-child').last().removeAttr('href');
            
            target.replaceWith($('<p class="btn btn-sm btn-success directions" disabled style="margin-bottom:5px; width:100%; min-width:300px" >' + target.text() + '</p>'));
        });


    </script>
}
<h2>Przystanki</h2>
<hr />
@if (Model != null)
{
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-md-offset-4">
        @foreach (var stop in Model)
        {
            if (stop != null)
            {
                <div class="row">
                    <div id="stops">
                        <a class="btn btn-info  btn-sm directions " style="margin-bottom:5px; width:100%; min-width:300px" href="@Url.Action("Timetable", new { stopId = stop.StopId, lineId = ViewContext.RouteData.Values["id"] })">@stop.StopName</a>
                    </div>
                </div>
            }
        }
        <div class="row" >
            <a href="@ViewBag.Return" style="min-width:200px" class="btn btn-primary">Powrót</a>
        </div>
    </div>
}
else
{
    <span>Wystąpił błąd! Przepraszamy!</span>
}

