﻿@model Tuple<Dictionary<string, List<string>>, string>
@{
    ViewBag.Title = "Rozkład jazdy";
}

<h2>@Model.Item2</h2>
<a href="@ViewBag.Return" class="btn btn-primary">Powrót</a>
<a href="@Url.Action("Print", new {ViewBag.stopId, ViewBag.lineId})"
   class="btn btn-primary">Pobierz</a>
<div class="table-responsive" style="margin-top: 1em;">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                @foreach (var entry in Model.Item1)
                {
                    <th colspan="2" style="width: 33%">@entry.Key</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 24; i++)
            {
                <tr>
                    @foreach (var entry in Model.Item1)
                    {
                        <td style="width: 3%"><b>@i</b></td>
                        <td style="width: 30%">
                            @String.Join("   |   ", entry.Value.Where(x => x.StartsWith(i + ":") || x.StartsWith("0" + i + ":")).Select(x => x.Split(':')[1]))
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>