﻿@model Tuple<Dictionary<string, List<string>>,string>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Item2</title>
    @Styles.Render("~/Content/dashgum")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: white;
            color: black;
        }
    </style>
</head>
<body>
    <section id="container" style="overflow: hidden;">
        <section style="overflow: hidden;">
            <!-- id="main-content"> -->
            <section style="overflow: hidden;">
                <!-- class="wrapper site-min-height">-->
                <h2>@Model.Item2</h2>
                <div class="table-responsive" style="overflow: hidden;">
                    <table class="table table-bordered table-condensed" style="overflow: hidden;">
                        <thead>
                            <tr>
                                @foreach (var entry in Model.Item1)
                                {
                                    <th colspan="2" style="width: 33%">@entry.Key</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 24; i++)
                            {
                                <tr>
                                    @foreach (var entry in Model.Item1)
                                    {
                                        <td style="width: 3%"><b>@i</b></td>
                                        <td style="width: 30%">
                                            @String.Join("   |   ", entry.Value.Where(x => x.StartsWith(i + ":") || x.StartsWith("0" + i + ":")).Select(x => x.Split(':')[1]))
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </section>
    @Scripts.Render("~/bundles/jquery-bootstrap")
    @Scripts.Render("~/bundles/validation")
</body>
</html>
