﻿.form-signin{
    background-image:linear-gradient(to top,white 1%,#2C7FB8);
   /* background-color:#2C7FB8;*/
    text-align: center;
    margin-top: 10%;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 0.1em;
    border-top-left-radius: 2em;
    border-top-right-radius:2em;
}

.form-signin-heading{
 
    text-align: center;
    font-family:Arial;
    font-size:3em;
    font-weight:bolder;
    color:#E0E0E0;
    
}

.form-signin-white{
    background-color: white;
    padding:0.5em;
}

.register-link{
    text-align: left;
    font-size: 2em;
    padding: 0.5em;
}

.login-button{
    padding-left:2em;
    padding-right: 2em;
    margin-left: 1em;
    
}

.form-signin-foot{
    background-image:linear-gradient(to bottom,white 5%,#2C7FB8);
   /* background-color:#2C7FB8;*/
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}