﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

table.dataTable th,
    table.dataTable td {
        white-space: nowrap;
    }

.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
    animation: move 20s linear infinite;
    -webkit-animation: move 20s linear infinite;
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

@keyframes move {
    100% { text-indent: 27.5em }
    0% { text-indent: -105em }
}

hr {
    border: 0 !important;
    border-top: 0 !important;
    height: 1px;
    color: transparent;
    background: #797979;
    background-image: linear-gradient(to right, #eee, #797979, #eee);
}

.notbutton {
    background:none!important;
    border:none; 
    padding:0!important;
    color:#069;
    cursor:pointer;
}