﻿@{
    ViewBag.Title = "Twórcy strony";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Agnieszka Cieślak</strong>   <a href="mailto:203226@student.pwr.edu.pl">203226@student.pwr.edu.pl</a><br />
    <strong>Roman Dyszlewski</strong>   <a href="mailto:203404@student.pwr.edu.pl">203404@student.pwr.edu.pl</a><br />
    <strong>Michał Stężała</strong>   <a href="mailto:204406@student.pwr.edu.pl">204406@student.pwr.edu.pl</a><br />
    <strong>Tomasz Świstak</strong>   <a href="mailto:203264@student.pwr.edu.pl">203264@student.pwr.edu.pl</a>
</address>
