﻿@{
    ViewBag.Title = "Strona główna";
}

@section PageStyles
{
    div.tooltip-inner {
        max-width: 350px;
    }
}
@section AdditionalStyles { @Styles.Render("~/Content/RSS") }
@section Scripts {
    @Scripts.Render("~/bundles/home")
}

<div class="row">
    <div class=" col-sm-4 col-xs-12  col-sm-push-8 ds">
        <!-- ACCOUNT -->
        @if (Context.User.Identity.IsAuthenticated)
        {

        }
        else
        {
            <h3>Konto</h3>
            <div class="desc " style="margin-left:10px;">
                <div>
                    <b>Nie jesteś zalogowany(a)!&nbsp;</b>
                    @Html.ActionLink("Zaloguj się", "Login", "Account", null, new { @class = "btn btn-info ", style = "color: #FFF" })
                </div>
              <br />
                <div>
                    <b >Nie masz konta?&nbsp;</b>
                    @Html.ActionLink("Kliknij tutaj", "Register", "Account", null, new { @class = "btn btn-info  ", style = "color: #FFF" })
                </div>
            </div>
        }

        <!--SPOTTED-->
        <h3>Spotted</h3>
        <div id="spotted-bar">
            <!-- First Action -->
            <div class="desc">
                <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                </div>
                <div class="details">
                    <p>
                        <muted>Obecnie</muted><br />
                        <a href="#">Proszę czekać</a>, trwa wczytywanie wiadomości.<br />
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class=" col-sm-8 col-xs-12  col-sm-pull-4">
        <div class="page-header">
            <h2>Aktualności</h2>
        </div>
        @foreach (var item in ViewBag.MPKNews)
        {
            <div class="panel panel-primary ">
                <div class="panel-leftheading ">
                    <h5 class="panel-lefttitle">@Convert.ToDateTime(item.PubDate)</h5>
                </div>
                <article class="panel-rightbody">
                    <h5><b>@item.Title</b></h5>
                    <hr />
                    <p>@Html.Raw(item.Description) </p>  
                    <hr />
                    <a class="text-info" href=@item.Link>Źródło</a>  
                </article>
                <div class="clearfix">
                </div>
            </div>
        }
    </div>

    <!-- /col-lg-3 -->
    @*<div class="col-md-5 col-xs-6">
            <div class="container">
                <h3>Konto</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <br />
                        <p>
                            Nie jesteś zalogowany(a)!&nbsp;
                            @Html.ActionLink("Zaloguj się", "Login", "Account", null, new { @class = "btn btn-info" })
                        </p>
                        <p>
                            Nie masz konta?&nbsp;
                            @Html.ActionLink("Kliknij tutaj", "Register", "Account", null, new { @class = "btn btn-info" })
                        </p>
                     </div>
                 </div>
            </div>
            <div class="container">
                <h3>Spotted</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Przydatne linki</h3>
                        <ul>
                            <li><a href="http://tfsserver.ii.pwr.edu.pl:8088/tfs/ZPI_2015d_l/Hnatkowska_B_309">Serwer TFS</a></li>
                            <li><a href="https://eportal.ii.pwr.edu.pl/sites/ZPI_2015d_l/Hnatkowska_B_309/Shared%20Documents/Forms/AllItems.aspx">Współdzielone dokumenty</a></li>
                            <li><a href="http://1drv.ms/1MroFD3">Onedrive</a></li>
                            <li><a href="https://docs.google.com/document/d/1jTPLW6_0qotzEYPtyOaRRU7vli9BNzHmNZQvmunvq5A/edit?usp=sharing">Edytowalna wizja</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<div class="hidden" id="spotted-source">
    <div class="desc spotted-topic" style="cursor: pointer; cursor: hand;">
        <div class="thumb">
            <span class="badge bg-theme"></span>
        </div>
        <div class="details">
            <p>
                <muted>2 Minutes Ago</muted><br />
                <a href="#">James Brown</a> subscribed to your newsletter.<br />
            </p>
        </div>
    </div>
</div>