﻿@model SIDUKM.WebUI.Models.Home.TestCityViewModel
@{
    ViewBag.Title = "Test miast";
}

<h2>Test miast</h2>

@if (Model.City != null)
{
    <p>Wybrane miasto: @Html.DisplayTextFor(m=>m.City)</p>
}

@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.City, new SelectList(Model.Cities, "CityId", "CityName"), new { @class = "form-control" })
    <button type="submit" class="btn btn-primary">Prześlij</button>
}

