﻿@model ICollection<SIDUKM.Domain.Account>
@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>
<ul>
    @foreach (var user in Model)
    {
        <li>
            @user.AccountId 
            , 
            Login: @user.AccountLogin 
            ,
            City: @user.CityId 
            ,
            FirstName: @user.FirstName 
            ,
            LastName: @user.LastName 
            ,
            UserRole: @user.UserRoleId
        </li>
    }
</ul>
