﻿@{
    ViewBag.Title = "Statystyki";
}
@section AdditionalStyles
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
}
@section scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    @Scripts.Render("~/bundles/stats")
}

<h2>Statystyki</h2>
<h3>Rejestracje kont</h3>
<h4>Każdego dnia</h4>
<div id="registrationsPerDay" style="height: 250px; max-width: 800px;">
    <p class="text-center"><img src="/Content/img/loader-pacman.gif">
    </p>
</div>
<h4>Skumulowane</h4>
<div id="registrationsPerDayAccumulated" style="height: 250px; max-width: 800px;">
    <p class="text-center"><img src="/Content/img/loader-pacman.gif"></p>
</div>
<hr/>
<h3>Spotted</h3>
<h4>Tematy na dzień</h4>
<div id="topicsPerDay" style="height: 250px; max-width: 800px;">
    <p class="text-center">
        <img src="/Content/img/loader-pacman.gif">
    </p>
</div>
<h4>Skumulowane</h4>
<div id="topicsPerDayAccumulated" style="height: 250px; max-width: 800px;">
    <p class="text-center"><img src="/Content/img/loader-pacman.gif"></p>
</div>
<h4>Posty na dzień</h4>
<div id="postsPerDay" style="height: 250px; max-width: 800px;">
    <p class="text-center">
        <img src="/Content/img/loader-pacman.gif">
    </p>
</div>
<h4>Skumulowane</h4>
<div id="postsPerDayAccumulated" style="height: 250px; max-width: 800px;">
    <p class="text-center"><img src="/Content/img/loader-pacman.gif">
    </p>
</div>
<h4>Najczęściej komentowany temat:</h4>
<div>
    <strong>Postów:</strong> <span id="mostCommentedCount">0</span>
    <blockquote id="mostCommented">
        <p></p>
        <footer></footer>
    </blockquote>
</div>
<h4>Najlepszy temat:</h4>
<div>
    <strong>Głosów na plus:</strong> <span id="highestTopicCount">0</span>
    <blockquote id="highestTopic">
        <p></p>
        <footer></footer>
    </blockquote>
</div>
<h4>Najgorszy temat:</h4>
<div>
    <strong>Głosów na minus:</strong> <span id="lowestTopicCount">0</span>
    <blockquote id="lowestTopic">
        <p></p>
        <footer></footer>
    </blockquote>
</div>
<h4>Najlepszy post:</h4>
<div>
    <strong>Głosów na plus:</strong> <span id="highestPostCount">0</span>
    <blockquote id="highestPost">
        <p></p>
        <footer></footer>
    </blockquote>
</div>
<h4>Najgorszy post:</h4>
<div>
    <strong>Głosów na minus:</strong> <span id="lowestPostCount">0</span>
    <blockquote id="lowestPost">
        <p></p>
        <footer></footer>
    </blockquote>
</div>
<hr/>
<h3>Najaktywniejsi użytkownicy</h3>
<h4>Pod względem tematów</h4>
<div id="activeTopics" style="height: 250px; max-width: 800px;">
    <p class="text-center">
        <img src="/Content/img/loader-pacman.gif">
    </p>
</div>
<h4>Pod względem postów</h4>
<div id="activePosts" style="height: 250px; max-width: 800px;">
    <p class="text-center">
        <img src="/Content/img/loader-pacman.gif">
    </p>
</div>