﻿@model SIDUKM.WebUI.Models.Administration.AddLineViewModel
@{
    ViewBag.Title = "Dodawanie linii";
}


<h2>Dodawanie linii</h2>
<hr />
@if (ViewBag.comp != null)
{
    if (ViewBag.comp)
    {
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            <span class="sr-only">Sukces:</span>
            Pomyślnie zapisano linię w bazie!
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Błąd:</span>
            Zapis do bazy nie powiódł się!
        </div>
    }
}
@using(Html.BeginForm())
    {
    <div class="form-group row " style="padding:10px">
        @Html.Label("Nazwa linii", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 " })
        @Html.TextBoxFor(m => Model.Name ,new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.Name)
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Kierunek", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 " })
        @Html.TextBoxFor(m => Model.Direction ,new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.Direction)
    </div>
    <!--TODO Dodać typ lini-->
    <div class="form-group row " style="padding:10px">
        @Html.Label("Miasto", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.DropDownListFor(m => m.CityID, new SelectList(Model.City, "CityId", "CityName"), new { @class = "form-control" })
    </div>

    <div class="form-group row " style="padding:10px">
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <input type="reset" class="btn btn-primary" value="Wyczyść">
    </div>
    }
