﻿@model SIDUKM.WebUI.Models.Administration.StopViewModel
@{
    ViewBag.Title = "Dodawanie przystanku";
}

<h2>Dodawanie przystanku</h2>
<hr />
@if (ViewBag.completed != null)
{
    if (ViewBag.completed)
    {
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            <span class="sr-only">Sukces:</span>
            Pomyślnie zapisano przystanek w bazie!
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Błąd:</span>
            Zapis do bazy nie powiódł się!
        </div>
    }
}
@using(Html.BeginForm())
    {
    <div class="form-group row " style="padding:10px">
        @Html.Label("Nazwa przystanku", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 " })
        @Html.TextBoxFor(m => Model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.Name)
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Numer przystanku", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 " })
        @Html.TextBoxFor(m => Model.Number, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.Number)
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Współrzędna X", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 " })
        @Html.TextBoxFor(m => Model.CoordinateX, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.CoordinateX)
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Współrzędna Y", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 " })
        @Html.TextBoxFor(m => Model.CoordinateY, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.CoordinateY)
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Miasto", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.DropDownListFor(m => m.CityID, new SelectList(Model.City, "CityId", "CityName"), new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
    <input type="reset" class="btn btn-primary" value="Wyczyść">
}
