﻿@model SIDUKM.WebUI.Models.Administration.AddTimetableViewModel
@{
    ViewBag.Title = "Dodawanie rozkładu";
}
@section Scripts{
    <script type="text/javascript">
        function openPage() {
            
            var lineID = document.getElementById('lineID').value;
            var stopID = document.getElementById('stopID').value;
            var link = window.location.protocol + '//' + window.location.host + '/' + 'Administration/AddTimeTable?lineId=' + lineID + '&stopId=' + stopID;
            window.location = link;
        }
        var button = document.getElementById('updateButton');
        button.onclick = openPage;

        jQuery.validator.addMethod("lineRegex", function (value, element) {
            return this.optional(element) || /^([0-5][0-9][A-Za-z\*]?\s?){1,}$/.test(value);
        }, 'Niepoprawne dane!');
        
</script>

<script type="text/javascript">
    $('#lineID').change(function () {
        var lineID = document.getElementById('lineID').value;
        var stopID = document.getElementById('stopID').value;
        var link = window.location.protocol + '//' + window.location.host + '/' + 'Administration/AddTimeTable?lineId=' + lineID + '&stopId=' + (-stopID)
        window.location = link;
        //stopID = document.getElementById('stopID');
        //stopID.options[0].selected = 'selected';
        //alert(stopID.options[0].value);
    });

   /* $(document).ready(function () {
        console.log(window.location.href);
        var results = new RegExp("[\?&]" + 'stopId' + "=([^&#]*)").exec(window.location.href);
        var stop = results[1] || 0;
        console.log(stop);
        $('#stopID').val(stop);
    })*/
</script>



}

<h2>Dodawanie rozkładu</h2>
<hr />
@if (ViewBag.comp != null)
{
    if (ViewBag.comp)
    {
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            <span class="sr-only">Sukces:</span>
            Pomyślnie zapisano rozkład w bazie!
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Błąd:</span>
            Zapis do bazy nie powiódł się!
        </div>
    }
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-group row " style="padding:10px">
        @Html.Label("Numer linii", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 " })
        @*@Html.TextBoxFor(m => Model.LineNumberID, new { @class = "form-control" })*@
        @Html.DropDownListFor(m => m.LineNumberID, new SelectList(Model.Lines, "LineId", "LineName"), new { @class = "form-control", @id = "lineID" })
        @Html.ValidationMessageFor(m => Model.LineNumberID)
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Przystanek", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2 "})
        @*@Html.TextBoxFor(m => Model.StopID, new { @class = "form-control" })*@
        @Html.DropDownListFor(m => m.StopID, new SelectList(Model.Stops, "StopId", "StopName"), new { @class = "form-control", @id = "stopID" })
        @Html.ValidationMessageFor(m => Model.StopID)
    </div>
    <input type="button" id="updateButton" value="Wczytaj" class="btn btn-primary">
  





    
    <h3>Rozkład jazdy</h3>
    <table>
        <thead>
            <tr>
                <th style="width: 70px;">Godzina</th>
                <th>Dni robocze</th>
                <th>Soboty</th>
                <th>Niedziele</th>
            </tr>
        </thead>
        <tbody id="timetable">
            @for (var i = 0; i < 24; i++)
            {
                <tr>
                    <td class="text-center">@i</td>
                    <td>
                        <div>
                            @Html.TextBoxFor(m => m.TimetableNormal[i], new { @class = "form-control lineRegex"})
                            @Html.ValidationMessageFor(m => m.TimetableNormal[i])
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.TextBoxFor(m => m.TimetableSaturday[i], new { @class = "form-control lineRegex"})
                            @Html.ValidationMessageFor(m => m.TimetableSaturday[i])
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.TextBoxFor(m => m.TimetableSunday[i], new { @class = "form-control lineRegex"})
                            @Html.ValidationMessageFor(m => m.TimetableSunday[i])
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="javascript:history.back()" class="as-link btn btn-primary">Powrót</a>
}
