﻿@model SIDUKM.WebUI.Models.Administration.BanViewModel
@{
    ViewBag.Title = "Banowanie użytkownika";
}

@section AdditionalStyles
{
    @Styles.Render("~/Content/datepicker")
}
@section scripts
{
    @Scripts.Render("~/bundles/datepicker")

    <script>
        $(document).ready(function () {
        $('.Date').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            language: "pl"
        });
        });
    </script>
}
<h2>Banowanie użytkownika @Model.Username</h2>

@if (ViewBag.Error != null)
{
     if (ViewBag.Error == true)
     {
         <div class="alert alert-danger" role="alert">Nie można zapisać bana! Sprawdź, czy data rozpoczęcia jest wcześniejsza od daty zakończenia!</div>
     }
     else
     {
         <div class="alert alert-success" role="alert">Zapisano pomyślnie!</div>
     }
}

<div class="form-group">    
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m=>m.AccountId)
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <div>
                    @Html.LabelFor(m => m.StartDate, new {@class = "control-label"})
                </div>
                <div class="input-group">
                    @Html.TextBoxFor(m => Model.StartDate, new {@class = "form-control Date"})
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>

            <div class="col-md-2 col-xs-6">
                <div>
                    @Html.LabelFor(m => m.StopDate, new {@class = "control-label"})
                </div>
                <div class="input-group">
                    @Html.TextBoxFor(m => Model.StopDate, new {@class = "form-control  Date"})
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m=>m.ReturnLink)
        @Html.HiddenFor(m=>m.Username)
        <br />
        <input type="submit" value="Zapisz" class="btn btn-primary col-md-1 col-xs-6">
        <span>&emsp;</span>
        <a href="@Model.ReturnLink" class="btn btn-primary">Powrót</a>
    }
</div>
