﻿@model SIDUKM.WebUI.Models.Administration.DownloadTimetableViewModel
@{
    ViewBag.Title = "Pobieranie rozkładów jazdy";
}

@section Scripts {
<script type="text/javascript">
    function markAll(checked) {
        var e = document.getElementById("lines").children;
        for (var i = 0; i < e.length; i++) {
            e.item(i).childNodes.item(1).checked = checked;
        }
    }
</script>

<script type="text/javascript">

    var uniqueId = '@Guid.NewGuid().ToString()';

    $('#statusBorder').hide();
    $(document).ready(function (event) {
        $('#startProcess').click(function () {
            $('#statusBorder').show();
            $('#mark').hide();
            $('#unmark').hide();
            $('#coordinates').hide();
            $('#startProcess').hide();
            $("#lines :input").prop("disabled", true);
            $('#status').html("Czekaj, trwa pobieranie");
            var e = document.getElementById('lines').children;
            var lista = new Array();
            for (var i = 0; i < e.length; i++){
                lista[i] = e.item(i).childNodes.item(1).checked;
            }
            $.post("DownloadTimetable", $.param({ 'id': uniqueId, 'list': lista }, true), function () {
                
                getStatus();
            });
            event.preventDefault;
        });
    });

    $('#statusBorder').hide();
    $(document).ready(function (event) {
        $('#coordinates').click(function () {
            $('#statusBorder').show();
            $('#mark').hide();
            $('#unmark').hide();
            $('#coordinates').hide();
            $('#startProcess').hide();
            $("#lines :input").prop("disabled", true);
            $('#status').html("Czekaj, trwa pobieranie");
            $.post("DownloadTimetable", $.param({ 'id': uniqueId, 'list': null }, true), function () {

                getStatus();
            });
            event.preventDefault;
        });

        window.onload = function () {
            //$.get()
        }
    });

    function getStatus() {
        var url = 'GetCurrentProgress/' + uniqueId;
        $.get(url, function (data) {
            if (data != "100") {
                $('#statusBorder').show();
                $('#status').html(data + " %");
                $('#statusFill').width(data + "%");
                window.setTimeout("getStatus()", 100);
            }
            else {
                $('#status').html("Zakończono pobieranie");
                $('#statusBorder').hide();
                $('#mark').show();
                $('#unmark').show();
                $('#coordinates').show();
                $('#startProcess').show();
                $("#lines :input").prop("disabled", false);
                $('#statusFill').width(0 + "%");
                alert("Ukończono !!!");
            };
        });
    }
    //genelrnaie TE SKRYPTY WRZUCIC DO INNEGO PLIKU (jak juz bedzie dzialac i zrobic bundle/route odpowiednie
</script> 
}

<h2>Pobieranie rozkładów jazdy</h2>
<hr />

<div class="row ">
    @Html.Label("Dzisiejsza data : ", new { @class = "control-label col-xs-6 col-sm-4 col-md-4 col-lg-2" })
    @Html.Label(@DateTime.Today.ToLongDateString().ToString(), new { @class = "control-label" })
</div>
<br />
<div class="row ">
    @Html.Label("Data ostatniej aktualizacji : ", new { @class = "control-label col-xs-6 col-sm-4 col-md-4 col-lg-2" })
    @Html.Label(@Model.LastUpdatedInAllLines.ToLongDateString().ToString(), new { @class = "control-label" })
</div>

<br />

@if(ViewBag.Start == null)
{
    <p id="status" class="text-center">Rozpocznij pobieranie... </p>
    <div class=" row progress " id="statusBorder">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" 
             aria-valuemin="0" aria-valuemax="100" style="width:0%" id="statusFill">
            <span class="sr-only">ViewBag.FileName</span>
        </div>
    </div>

    <!-- <div id="statusBorder">
         <div id="statusFill">
         </div>
     </div>  tak bylo w tutku -->
}

@if(ViewBag.Downloaded == true)
{
    <div class="row alert alert-success" role="alert">
        Pomyślnie pobrano rozkłady jazdy
    </div>
}
@if(ViewBag.Downloaded == false)
{
    <div class="row alert alert-danger" role="alert">
        Wystąpił bład podczas pobierania rozkładów jazdy
    </div>
}

@using(Html.BeginForm())
{
    <button type="button" id="mark" onclick="markAll(true)" class="btn btn-primary">Zaznacz wszystkie</button>
    <button type="button" id="unmark" onclick="markAll(false)" class="btn btn-primary">Wyczyść wszystkie</button>
    <button type="button" class="btn btn-primary" id="startProcess">Aktualizuj wybrane</button>
    <button type="button" id="coordinates"  class="btn btn-primary">Aktualizuj współrzędne</button>

    <br />
    <h3>Linie</h3>
    <div id="lines">
        @for(int i = 0; i < Model.Lines.Count; i++)
        {
            <div class=" row col-xs-6 col-sm-4 col-md-4 col-lg-2">
                @Html.EditorFor(x => x.ChoosedStop [i], new { @class = "checkbox-inline" })
                @Html.Label( (Model.Lines [i] + Model.LastUpdated[i]) , new { @class = "checkbox-inline" })
            </div>
        }
    </div>
}
