﻿@model SIDUKM.WebUI.Models.Administration.EditAccountViewModel
@{
    ViewBag.Title = "Edycja konta";
}
@*@section scripts{
    @Scripts.Render("~/bundles/avatar")
    }*@

<h2>Edycja konta</h2>

<hr />
@if(ViewBag.isEdited == null)
{
    using(Html.BeginForm("EditAccount", "Administration"))
    {
   
    @*<div class="form-group row " style="padding:10px">
            @Html.Label("Adres e-mail ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
            @Html.TextBoxFor(m => Model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Email)
        </div>*@
        <div class="form-group row " style="padding:10px">
            @Html.Label("Rola użytkownika ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
            @Html.DropDownListFor(m => m.UserRoleId , new SelectList(Model.UserRole , "UserRoleId", "RoleName"), new { @class = "form-control" })
        </div>
        @*<div class="form-group row " style="padding:10px">
        @Html.Label("Nowe hasło ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.PasswordFor(m => Model.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.NewPassword)
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Powtórz nowe hasło ", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.PasswordFor(m => Model.RepeatPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.RepeatPassword)
    </div>
    <hr />

    <div class="form-group row " style="padding:10px">
        @Html.Label("Imię", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.TextBoxFor(m => Model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Nazwisko", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.TextBoxFor(m => Model.SurName, new { @class = "form-control" })
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Płeć", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.DropDownListFor(m => m.SexID, new SelectList(Model.Sex, "GenderId", "GenderName"), new { @class = "form-control" })
    </div>
    <div class="form-group row " style="padding:10px">
        @Html.Label("Miasto", new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
        @Html.DropDownListFor(m => m.CityID, new SelectList(Model.City, "CityId", "CityName"), new { @class = "form-control" })
    </div>
*@
         @Html.HiddenFor(m => m.AccountId) 
        @Html.HiddenFor(m=>m.ReturnLink)
    @*
        <!-- Avatar Column-->
        <div class="row" style="padding:10px">
            <div class="col-md-2">
                @Html.Label("Awatar", new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <img width="100" height="100" src="@Url.Action("GetAvatar","Account", new { id = Model.AccountId })" id="avatar_img"/>
                    </div>
                    <div class="col-md-8">
                        <input type="file" name="avatar" accept="image/*" id="avatar_upload"/>
                        <button id="btnRemove" type="button" onClick="openModal()" class="btn btn-primary btn-info" data-toggle="modal" data-target="#myModal" style="margin-top:30px"> Usuń </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"> </div> <!-- zamiast tego jakis offset -->
        </div>*@

        <!-- Buttons-->
        <button type="submit" class="btn btn-primary">Zastosuj</button>
        //@Html.ActionLink("Powrót", "UserList", "Administration", null, new {@class = "btn btn-default btn-md"})
        <a href="@Model.ReturnLink" class="btn btn-default btn-md">Powrót</a>
     }

      @*  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Usuwanie awatara</h4>
                </div>
                <div class="modal-body">
                    Czy na pewno chcesz usunąć awatar użytkownika?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nie</button>
                    <button type="button" class="btn btn-primary">Tak</button>
                </div>
            </div>
        </div>
    </div> *@

}
else if (ViewBag.isEdited == 1)
{
        <h2>Pomyślnie zedytowano!</h2>
    }
    else
    {
        <h2>Wystąpił błąd przy edycji konta! Spróbuj ponownie.</h2>
    }