﻿
@{
    ViewBag.Title = "Panel Administratora - Menu";
}

@section AdditionalStyles { @Styles.Render("~/Content/DropDownPanel") }

<section>
    <header>
        <h2 class="text-center"> Panel administratora </h2>
    </header>
</section>
<hr />
<div class="container">
    <div class="row">
        
        <div class="col-md-6 col-md-offset-3">

            <!-- Użytkownicy-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="clickable">
                        <i class="pull-left fa fa-minus"></i>
                        <h3 class="panel-title">Użytkownicy</h3>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <i class="fa fa-user-md fa-3x"></i>
                            <div>
                                @Html.ActionLink("Lista użytkowników", "UserList", "Administration", new { view = "DefaultView" }, null)
                               
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            <i class="fa fa-lock fa-3x"></i>
                            <div>
                                @Html.ActionLink("Zablokowani użytkownicy", "UserList", "Administration", new { view = "BannedView" }, null)
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 text-center">
                            <i class="fa fa-link fa-3x"></i>
                            <div>
                                @Html.ActionLink("Pokaż konta z aktywnym przypomnieniem hasła", "UserList", "Administration", new { view = "GuidView" }, null)
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            <i class="fa fa-archive fa-3x"></i>
                            <div>
                                @Html.ActionLink("Archiwum", "UserList", "Administration", new { view = "ArchiveView" }, null)
                            </div>
                        </div>
                    </div>
                 </div>
            </div>

            <!-- Spotted-->
            <!----<div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="clickable">
                        <i class="pull-left fa fa-minus"></i>
                        <h3 class="panel-title">Spotted</h3>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <i class="fa fa-cloud fa-3x"></i>
                            <div>
                                <p>Zarządzaj wpisami użytkowników</p>
                            </div>
                        </div>-->
                            <!-- next item here  :)-->
                    <!----</div>
                </div>
            </div>--->

             <!-- Trasy i rozkłady-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="clickable">
                        <i class="pull-left fa fa-minus"></i>
                        <h3 class="panel-title">Trasy i rozkłady</h3>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <i class="fa fa-arrows-h fa-3x"></i>
                            <div>
                                @Html.ActionLink("Dodaj linię", "AddLine", "Administration", new { view = "LineView" }, null)
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <i class="fa fa-arrow-circle-up fa-3x"></i>
                            <div>
                                @Html.ActionLink("Dodaj przystanek", "AddStop", "Administration", new { view = "StopView" }, null)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <i class="fa fa-road fa-3x"></i>
                            <div>
                                @Html.ActionLink("Dodaj rozkład jazdy", "AddTimeTable", "Administration", new {view = "TimetableView"}, null)
                            </div>
                        </div>
                        <!--<div class="col-md-6 text-center">
                            <i class="fa fa-code-fork fa-3x"></i>
                            <div>
                                <p>Lista tras</p>
                            </div>
                        </div>-->
                        <div class="col-md-6 text-center">
                            <i class="fa fa-cloud-download fa-3x"></i>
                            <div>
                                @Html.ActionLink("Pobierz rozkłady", "DownloadTimeTable", "Administration")
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

           <!-- Inne-->
            <!----<div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="clickable">
                        <i class="pull-left fa fa-minus"></i>
                        <h3 class="panel-title">Inne</h3>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <i class="fa fa-bank fa-3x"></i>
                            <div>
                                <p>Lista Miast</p>
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            <i class="fa fa-desktop fa-3x"></i>
                            <div>
                                <p>Przystanki</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <i class="fa fa-bar-chart-o fa-3x"></i>
                            <div>
                                @@Html.ActionLink("Statystyki", "Stats", "Home", null)
                            </div>
                        </div>-->
                       <!-- next item here :)-->
                    <!----</div>-->

                </div>
            </div>
         </div>
     </div>
</div>


                    
                                
                              
                            
                        
