﻿<!--model ICollection<SIDUKM.Domain.Account> -->

@{
    ViewBag.Title = ViewBag.TitleLocal;
}
@section AdditionalStyles { @Styles.Render("~/Content/css-dataTable") }
@section scripts  { @Scripts.Render("~/bundles/jquery-dataTable2") }

<h2>@ViewBag.TitleLocal</h2>
<div>
   
    <table cellpadding="0" cellspacing="0" border="0"
           class="table table-striped table-bordered center-table dt-responsive table-responsive"
           id="tableContract">
        <!-- na to id reaguje skrypt jquery dataTable-->
        <!-- <thead>
         <tr>
             zamaist tych nalgowkow moze lepiej z Modelu Account brac (html.DisplayNameFor)
            <th> Id </th>
            <th> Login</th>
            <th> E-mail </th>
            <th> Imie </th>
            <th> Nazwisko</th>
            <th> Miasto </th>
            <th> Płeć</th>
            <th> Typ</th>
            <th> Dodatkowe</th>
          <th> Akcje</th>
        </tr>
        </thead>-->
        <!--<tbody>-->
        <!-- json wstawi tu co trzeba-->
        <!-- </tbody>-->
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Kasowanie konta</h4>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz skasować konto <span id="accountName">[brak nazwy]</span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nie</button>
                <!--<button type="button" class="btn btn-primary">Tak</button>-->
                <a href="#" id="accountLink" class="btn btn-primary">Tak</a>
            </div>
        </div>
    </div>
</div>
